.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.global_action_container{
  display: flex;
  flex-direction: row;
  gap:1rem;
}

.header_button{
  padding: .8rem .5rem;
}

.shut_down_servers{
  color: red;
}

.restart_servers{
  color: green;
}